<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 Mapper로 사용할 인터페이스의 풀경로이름 -->
<mapper namespace="com.myapp.webprj.board.mapper.BoardMapper">

    <!-- select를 위한 resultMap -->
    <resultMap id="boardMap" type="com.myapp.webprj.board.domain.Board">
        <result property="regDate" column="regdate" />
        <result property="updateDate" column="updatedate" />
    </resultMap>

    <select id="getList" resultMap="boardMap">
        SELECT * FROM tbl_free_board
        WHERE bno > 0
        ORDER BY bno DESC
    </select>

    <!--  페이징 쿼리  -->
    <select id="getListWithPaging" resultMap="boardMap">
        <![CDATA[
          select
            bno, title, content, writer, regdate, updatedate
          from
              (
              select /*+INDEX_DESC(tbl_free_board pk_free_board) */
                rownum rn, bno, title, content, writer, regdate, updatedate
              from
                tbl_free_board
              where rownum <= #{page} * #{amount}
              )
          where rn > (#{page} -1) * #{amount}
        ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT
            COUNT(*)
        FROM tbl_free_board
    </select>

    <!--  제목으로 검색  -->
    <select id="getListByTitle" resultMap="boardMap">
        <![CDATA[
          select
            bno, title, content, writer, regdate, updatedate
          from
              (
              select /*+INDEX_DESC(tbl_free_board pk_free_board) */
                rownum rn, bno, title, content, writer, regdate, updatedate
              from
                tbl_free_board
              where
                title like '%' || #{keyword} || '%'
                AND
                rownum <= #{page} * #{amount}
              )
          where rn > (#{page} -1) * #{amount}
        ]]>
    </select>


    <select id="findByBno" resultMap="boardMap">
        SELECT * FROM tbl_free_board
        WHERE bno = #{bno}
    </select>

    <insert id="save">
        INSERT INTO tbl_free_board
           (bno, title, content, writer)
        VALUES (seq_free_board.nextval, #{title}, #{content}, #{writer})
    </insert>

    <update id="update">
        UPDATE tbl_free_board
        SET
            title = #{title},
            content = #{content},
            writer = #{writer},
            updatedate = SYSDATE
        WHERE bno = #{bno}
    </update>

    <delete id="delete">
        DELETE FROM tbl_free_board
        WHERE bno = #{bno}
    </delete>

</mapper>